.was {
	
	background-color: gray;
	overflow: auto;
}
.was a {
	float: left;
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	transition: all 0.5s ease;
	font-size: 20px;	
}
.was a:hover {
	background-color:#A198C6;
	color: black;
}
.was a.active {
	background-color:#653239;
	color: white;
}
h1 {
	color:white;
	text-align:center;
	font-size:60px;
	font-style:arial;
}
footer{
	background-color:gray;
	color:black;
	font-size:5px;

}
